{% extends "template.html" %}

{% block header %}
  <title>VoteMania</title>
{% endblock %}

{% block content %}

  <!-- front page banner index-->
  <div class="front-page-cover">
    <div class="front-page-cover-banner">
      <h1 class="banner-title">VoteMania</h1>
      <h3 class="banner-info">Platform to create and share voting polls.</h3>
      {% if not user %}
        <a href="/login" class="btn btn-primary" name="sign-up">Login</a>
        <a href="/register" class="btn btn-secondary" name="sign-up">Sign-up</a>
      {% endif %}
    </div>
  </div>
  <!-- info column -->
  <div class="info-row">
    <div class="info-row-column">
      <img class="info-row-column-img" src="/assets/images/start.png" alt="start.png">
      <h4 class="info-row-title">Live Results</h4>
      <p class="info-row-info">Stunning graphs to show live polling results.</p>
    </div>
    <div class="info-row-column">
      <img class="info-row-column-img" src="/assets/images/Earth-512.png" alt="start.png">
      <h4 class="info-row-title">Works Everywhere</h4>
      <p class="info-row-info">Responsive design allows application to be used on all formats.</p>
    </div>
    <div class="info-row-column">
      <img class="info-row-column-img" src="/assets/images/share-flat.png" alt="start.png">
      <h4 class="info-row-title">Social Integration</h4>
      <p class="info-row-info">Facebook integrated share button allows voters to post on their feed.</p>
    </div>
  </div>

{% endblock %}
