{% extends "template.html" %}

{% block header %}
  <title>VoteMania:Login</title>
{% endblock %}

{% block content %}
  <!-- front page banner login -->
  <div class="front-page-cover">
    <div class="front-page-cover-banner">
      <h1 class="banner-title">VoteMania</h1>
      <h3 class="banner-info">Already have an account? Login and start creating custom polls.</h3>
      <a href="/register" class="btn btn-secondary" name="sign-up">Sign-up</a>
      <!-- <button class="btn btn-primary">
        <i class="fa fa-facebook-square"></i>
        Login with Facebook
      </button> -->
    </div>
  </div>
  <!-- login container -->
  <div class="login-register">
    <form action="/login" method="post" name="loginForm">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="e.g. john-doe@example.com" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="" required>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
{% endblock %}
