{% extends "template.html" %}

{% block header %}
  <title>VoteMania:Polls</title>
{% endblock %}

{% block content %}

  <!-- front page banner index-->
  <div class="front-page-cover">
    <div class="front-page-cover-banner">
      <h1>VoteMania</h1>
      <h3>
        {% if not user %}
          Select a poll to see results and vote, or sign in to make a new poll.
        {% else %}
          Select a poll to see results and vote, or create a new poll.
        {% endif %}
      </h3>
      {% if not user %}
        <a href="/login" class="btn btn-primary" name="sign-up">Login</a>
        <a href="/register" class="btn btn-secondary" name="sign-up">Sign-up</a>
      {% else %}
        <a href="/dashboard" class="btn btn-secondary" name="my_polls">My Polls</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
