{% extends "template.html" %}

{% block header %}
  <title>VoteMania:Dashboard/{{ user }}/Polls/</title>
{% endblock %}

{% block content %}

<div class="votePoll">
  <form action="/polls/vote/{{ poll_id }}" method="post" id="voteForm">
    <h5 id="poll_name" value="{{ poll_id }}">{{ poll_name }}</h5>
    <div class="form-group">
      <label for="select">I'd like to vote for...</label>
      <br>
      <select name="pollOptions" form="voteForm" id="voteList">
        {% for option in options %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div id="shareBtn" class="btn btn-secondary">
      <i class="fa fa-facebook-square"></i>
      Share
    </div>
  </form>
  <div class="chartDiv" style="width: 400px">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>
{% endblock %}
